.container{
    background-size: cover; 
    background-image: url("https://play-lh.googleusercontent.com/2o1sU5tSQ-tPNENcMmBE5XQGtmJUB5QDQn1hSj-iRjmFVovxagYinLt0_R_si6AYNK_G");
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    height: 37rem;
    width: 51rem;
    box-shadow: 0px 0px 6px 3px ;


}