*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
background-color: rgb(0, 0, 0);
height: 4rem;
display: flex;
justify-content: center;
align-items: center;

} 
.head{
    color: white;
    text-decoration: none;
}